#### 1.0 Setting up the environment

In [1]:
#set up
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
import texthero as hero
from PIL import Image

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

import datetime
import nltk
from nltk.stem.porter import *
from nltk.stem.wordnet import WordNetLemmatizer

#### 2.0 Loading the Datasets

In [3]:
#reads the datasets
aljazeera = pd.read_csv('n_aljazeera.csv')
bbc = pd.read_csv('n_bbc.csv')
bloomberg = pd.read_csv('n_bloomberg.csv')
conversation_dw = pd.read_csv('n_conversation-dw.csv')
citizen = pd.read_csv('n_citizen.csv')
cgtn_cnbc = pd.read_csv('n_ctgn-cnbc.csv')
east_african = pd.read_csv('n_east_african.csv')
france24 = pd.read_csv('n_france.csv')
guardian = pd.read_csv('n_guardian.csv')
k24 = pd.read_csv('n_k24.csv')
nation = pd.read_csv('n_nation.csv')
nytimes_independent = pd.read_csv('n_nytimes-independent.csv')
people_daily = pd.read_csv('n_pd.csv')
star = pd.read_csv('n_star.csv')
standard = pd.read_csv('n_standard.csv')
observer = pd.read_csv('n_observer.csv')
tribune = pd.read_csv('n_tribune.csv')
independent_uganda = pd.read_csv('n_independent-uganda.csv')
kbc = pd.read_csv('n_kbc.csv')
new_vision = pd.read_csv('n_new_vision.csv')
monitor = pd.read_csv('new_monitor.csv')
capital = pd.read_csv('n_capital-news.csv')

#### 2.1 Preliminary Checks

In [4]:
#Combining the datasets
data = pd.concat([aljazeera, bbc,bloomberg,conversation_dw,cgtn_cnbc, citizen,east_african,france24,guardian,k24,
                 nation,nytimes_independent,people_daily,star,standard, observer, tribune, monitor,
                  independent_uganda,new_vision,kbc,capital])
data.shape

(621, 8)

In [5]:
#check the first 5 rows of the dataframe
data.head()

,link,news_country,newspaper_name,text,title,date,keywords,summary
0,https://www.aljazeera.com/videos/2020/04/10/ke...,Qatar,aljazeera,Kenya locust threat: Fears second wave will be...,Kenya locust threat: Fears second wave will be...,10/04/2020,"['threat', 'resources', 'kenya', 'wave', 'harv...",Kenya locust threat: Fears second wave will be...
1,https://www.aljazeera.com/news/2020/1/25/east-...,Qatar,aljazeera,Billions of locusts swarming through East Afri...,East Africa locust outbreak sparks calls for i...,25/01/2020,"['africa', 'outbreak', 'region', 'kenya', 'dro...",Billions of locusts swarming through East Afri...
2,https://www.aljazeera.com/news/2020/4/13/locus...,Qatar,aljazeera,The UN says locusts in Ethiopia have damaged 2...,Locust invasion creates food crisis for 1 mill...,13/04/2020,"['creates', 'ethiopia', 'sudan', 'region', 'li...",The UN says locusts in Ethiopia have damaged 2...
3,https://www.aljazeera.com/gallery/2020/1/20/in...,Qatar,aljazeera,A serious outbreak of locusts is spreading in ...,In Pictures: Locust outbreak spreads across Ea...,20/01/2020,"['africa', 'reported', 'outbreak', 'sudan', 'p...",A serious outbreak of locusts is spreading in ...
4,https://www.aljazeera.com/gallery/2020/2/18/in...,Qatar,aljazeera,Uganda has scrambled to respond to the arrival...,In Pictures: Desert locusts swarm parts of Eas...,18/02/2020,"['africa', 'york', 'million', 'outbreak', 'ken...",Uganda has scrambled to respond to the arrival...

In [6]:
#change name of newspaper_name column
data = data.rename(columns={'newspaper_name':'news_website'})
data.columns

Index(['link', 'news_country', 'news_website', 'text', 'title', 'date',
       'keywords', 'summary'],
      dtype='object')

In [7]:
#Check the data types of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 0 to 23
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          621 non-null    object
 1   news_country  621 non-null    object
 2   news_website  621 non-null    object
 3   text          621 non-null    object
 4   title         621 non-null    object
 5   date          565 non-null    object
 6   keywords      577 non-null    object
 7   summary       577 non-null    object
dtypes: object(8)
memory usage: 43.7+ KB

In [8]:
#Check missing values
data.isnull().sum()

link             0
news_country     0
news_website     0
text             0
title            0
date            56
keywords        44
summary         44
dtype: int64

#### 3.0 Preprocessing

##### 3.1 Cleaning the Text Column

In [9]:
#using texthero for preprocessing
data['clean_text'] = hero.clean(data['text'])
data.head()

,link,news_country,news_website,text,title,date,keywords,summary,clean_text
0,https://www.aljazeera.com/videos/2020/04/10/ke...,Qatar,aljazeera,Kenya locust threat: Fears second wave will be...,Kenya locust threat: Fears second wave will be...,10/04/2020,"['threat', 'resources', 'kenya', 'wave', 'harv...",Kenya locust threat: Fears second wave will be...,kenya locust threat fears second wave worse ha...
1,https://www.aljazeera.com/news/2020/1/25/east-...,Qatar,aljazeera,Billions of locusts swarming through East Afri...,East Africa locust outbreak sparks calls for i...,25/01/2020,"['africa', 'outbreak', 'region', 'kenya', 'dro...",Billions of locusts swarming through East Afri...,billions locusts swarming east africa could pr...
2,https://www.aljazeera.com/news/2020/4/13/locus...,Qatar,aljazeera,The UN says locusts in Ethiopia have damaged 2...,Locust invasion creates food crisis for 1 mill...,13/04/2020,"['creates', 'ethiopia', 'sudan', 'region', 'li...",The UN says locusts in Ethiopia have damaged 2...,un says locusts ethiopia damaged hectares crop...
3,https://www.aljazeera.com/gallery/2020/1/20/in...,Qatar,aljazeera,A serious outbreak of locusts is spreading in ...,In Pictures: Locust outbreak spreads across Ea...,20/01/2020,"['africa', 'reported', 'outbreak', 'sudan', 'p...",A serious outbreak of locusts is spreading in ...,serious outbreak locusts spreading parts east ...
4,https://www.aljazeera.com/gallery/2020/2/18/in...,Qatar,aljazeera,Uganda has scrambled to respond to the arrival...,In Pictures: Desert locusts swarm parts of Eas...,18/02/2020,"['africa', 'york', 'million', 'outbreak', 'ken...",Uganda has scrambled to respond to the arrival...,uganda scrambled respond arrival biggest locus...

In [10]:
data.shape

(621, 9)

##### 3.2 Cleaning Title Column

In [11]:
#using texthero for preprocessing
data['clean_title'] = hero.clean(data['title'])
data.head()

,link,news_country,news_website,text,title,date,keywords,summary,clean_text,clean_title
0,https://www.aljazeera.com/videos/2020/04/10/ke...,Qatar,aljazeera,Kenya locust threat: Fears second wave will be...,Kenya locust threat: Fears second wave will be...,10/04/2020,"['threat', 'resources', 'kenya', 'wave', 'harv...",Kenya locust threat: Fears second wave will be...,kenya locust threat fears second wave worse ha...,kenya locust threat fears second wave worse ha...
1,https://www.aljazeera.com/news/2020/1/25/east-...,Qatar,aljazeera,Billions of locusts swarming through East Afri...,East Africa locust outbreak sparks calls for i...,25/01/2020,"['africa', 'outbreak', 'region', 'kenya', 'dro...",Billions of locusts swarming through East Afri...,billions locusts swarming east africa could pr...,east africa locust outbreak sparks calls inter...
2,https://www.aljazeera.com/news/2020/4/13/locus...,Qatar,aljazeera,The UN says locusts in Ethiopia have damaged 2...,Locust invasion creates food crisis for 1 mill...,13/04/2020,"['creates', 'ethiopia', 'sudan', 'region', 'li...",The UN says locusts in Ethiopia have damaged 2...,un says locusts ethiopia damaged hectares crop...,locust invasion creates food crisis million et...
3,https://www.aljazeera.com/gallery/2020/1/20/in...,Qatar,aljazeera,A serious outbreak of locusts is spreading in ...,In Pictures: Locust outbreak spreads across Ea...,20/01/2020,"['africa', 'reported', 'outbreak', 'sudan', 'p...",A serious outbreak of locusts is spreading in ...,serious outbreak locusts spreading parts east ...,pictures locust outbreak spreads across east a...
4,https://www.aljazeera.com/gallery/2020/2/18/in...,Qatar,aljazeera,Uganda has scrambled to respond to the arrival...,In Pictures: Desert locusts swarm parts of Eas...,18/02/2020,"['africa', 'york', 'million', 'outbreak', 'ken...",Uganda has scrambled to respond to the arrival...,uganda scrambled respond arrival biggest locus...,pictures desert locusts swarm parts east africa

##### 3.3 Formating Date column

In [12]:
data['date'].unique()

array(['10/04/2020', '25/01/2020', '13/04/2020', '20/01/2020',
       '18/02/2020', '03/04/2020', '09/04/2020', '19/02/2020',
       '21/01/2020', '19/04/2020', '10/02/2020', nan, '22/03/2020',
       '10/09/2020', '05/08/2020', '21/05/2020', '08/04/2020',
       '13/05/2020', '2020-05-13 13:47:28+00:00',
       '2020-08-20 20:41:32+02:00', '2020-10-07 14:56:06+00:00',
       '2020-04-24 09:07:36+00:00', '2020-01-17 09:37:46+00:00',
       '2020-02-03 14:18:37+00:00', '2020-02-25 13:49:33+00:00',
       '2020-03-16 15:49:31+00:00', '18/05/2020', '20/02/2020',
       '28/02/2020', '23/03/2020', '24/02/2020', '04/04/2020',
       '19/05/2020', '02/02/2020', '19/06/2020', '31/12/2019',
       '01/02/2020', '15/08/2020', '14/05/2020', '26/07/2019',
       '14/02/2020', '11/02/2020', '09/02/2020 20:45', '10/02/2020 20:45',
       '19/02/2020 08:18', '20/01/2020 20:45', '10/05/2020 07:40',
       '31/01/2020 20:45', '19/08/2013 08:12', '05/07/2020 13:23',
       '05/07/2020 13:39', '05/07/2020 13:04', '05/07/2020 13:42',
       '05/07/2020 13:24', '07/07/2020', '13/03/2020', '24/01/2020',
       '10/01/2020', '15/05/2020', '26/01/2020', '17/01/2020',
       '16/02/2020', '08/06/2020', '20/03/2020', '04/03/2020',
       '12/02/2020', '26/02/2020', '23/05/2013',
       '2020-01-26 10:01:13+00:00', '2020-01-21 10:24:06+00:00',
       '2019-12-10 08:04:03+00:00', '2020-04-30 07:24:39+00:00',
       '2020-03-16 11:01:56+00:00', '2020-06-23 05:35:59+00:00',
       '2020-06-27 09:52:03+00:00', '2019-11-08 13:13:40+00:00',
       '2020-01-02 13:11:13+00:00', '2020-05-02 08:54:37+00:00',
       '2020-06-29 19:26:19+00:00', '2020-03-18 17:41:59+00:00',
       '2020-05-30 08:55:34+00:00', '2020-05-13 10:30:55+00:00',
       '2020-06-28 06:17:40+00:00', '2020-06-29 19:26:20+00:00',
       '2020-03-18 17:32:54+00:00', '2020-06-29 11:11:17+00:00',
       '2020-03-18 14:41:20+00:00', '2020-06-29 13:16:54+00:00',
       '2020-03-18 17:51:07+00:00', '2020-07-04 11:00:12+00:00',
       '2020-07-29 13:51:58+00:00', '2020-07-03 12:06:30+00:00',
       '2020-03-18 17:36:38+00:00', '2020-06-29 16:56:43+00:00',
       '2020-06-28 06:17:41+00:00', '2020-03-18 17:44:31+00:00',
       '2020-06-29 13:16:53+00:00', '2020-06-29 19:13:33+00:00',
       '2020-09-12 21:24:33+00:00', '2020-03-18 17:07:16+00:00',
       '2020-07-03 17:45:00+00:00', '2020-08-25 11:51:48+00:00',
       '2020-07-03 12:06:19+00:00', '2020-06-28 12:12:02+00:00',
       '2020-03-27 14:54:34+00:00', '2020-07-30 17:17:09+00:00',
       '2020-07-09 22:08:30+00:00', '2020-07-04 11:00:13+00:00',
       '2020-06-29 19:42:44+00:00', '2020-03-18 17:09:31+00:00',
       '2020-05-13 10:31:38+00:00', '2020-06-28 06:17:39+00:00',
       '2020-03-18 14:40:28+00:00', '2020-06-28 06:17:37+00:00',
       '2020-06-29 16:40:21+00:00', '2020-03-18 16:51:20+00:00',
       '2020-06-29 13:15:11+00:00', '2020-06-23 08:05:57+00:00',
       '2020-08-31 05:31:30+00:00', '2020-03-18 17:51:28+00:00',
       '2020-07-14 12:43:09+00:00', '2020-03-18 14:27:45+00:00',
       '2020-06-29 13:16:51+00:00', '2020-06-04 06:11:40+00:00',
       '2020-03-18 14:33:20+00:00', '2020-06-29 18:43:04+00:00',
       '2020-03-18 17:43:38+00:00', '2020-05-13 10:32:09+00:00',
       '2020-06-28 17:38:13+00:00', '2020-07-04 11:00:03+00:00',
       '2020-06-29 11:38:12+00:00', '2020-07-05 06:21:16+00:00',
       '2020-08-16 12:22:37+00:00', '2020-03-18 17:13:27+00:00',
       '2020-07-24 10:09:59+00:00', '2020-05-20 14:24:20+00:00',
       '2020-07-08 15:36:27+00:00', '2020-03-18 17:08:29+00:00',
       '2020-06-29 11:04:44+00:00', '2020-06-29 19:32:23+00:00',
       '2020-07-04 11:00:16+00:00', '2020-09-25 16:54:20+00:00',
       '2020-03-18 17:38:01+00:00', '2020-07-17 15:57:15+00:00',
       '2020-06-28 06:17:34+00:00', '2020-07-05 07:39:10+00:00',
       '2020-06-29 11:15:03+00:00', '2020-06-29 13:16:52+00:00',
       '2020-06-02 16:54:46+00:00', '2020-06-28 06:17:44+00:00',
       '2020-07-04 11:00:06+00:00', '2020-06-28 06:17:42+00:00',
       '2020-04-11 18:06:47+00:00', '2020-01-25 15:25:01+00:00',
       '2020-06-04 10:26:56+00:00', '2020-05-31 09:28:51+00:00',
       '2020-02-11 11:16:37+00:00', '2019-12-21 23:39:03+00:00',
       '2020-05-22 23:03:00+00:00', '2020-02-01 16:07:41+00:00',
       '2019-12-22 17:31:58+00:00', '2020-02-19 18:43:04+00:00',
       '2020-02-27 11:34:26+00:00', '21/02/2020 00:00',
       '07/08/1986 00:00', '30/01/1978 00:00', '25/10/1959 00:00',
       '07/03/1963 00:00', '26/08/1969 00:00', '22/03/1952 00:00',
       '08/01/1955 00:00', '24/04/1988 00:00', '11/11/1988 00:00',
       '20/04/1988 00:00', '2020-09-21 21:00:00+00:00',
       '2020-04-30 09:38:37+00:00', '2020-01-09 21:00:53+00:00',
       '2020-09-07 21:00:00+00:00', '2020-01-29 21:00:00+00:00',
       '2020-02-10 04:19:00+00:00', '2020-06-08 21:00:00+00:00',
       '2020-04-25 05:24:59+00:00', '2020-07-20 21:00:00+00:00',
       '2020-01-26 21:00:00+00:00', '2020-02-19 10:24:39+00:00',
       '2020-02-24 05:04:00+00:00', '2020-01-08 21:00:00+00:00',
       '2020-02-14 09:08:34+00:00', '2020-02-17 09:00:00+00:00',
       '2020-07-08 21:00:00+00:00', '2020-01-13 21:00:00+00:00',
       '2020-03-23 21:00:00+00:00', '2020-01-10 15:00:17+00:00',
       '2020-01-03 15:08:50+00:00', '2020-02-10 21:00:00+00:00',
       '2020-02-20 09:12:16+00:00', '2020-01-15 20:13:00+00:00',
       '2020-01-08 18:51:23+00:00', '2020-03-18 21:00:00+00:00',
       '2020-03-05 19:12:00+00:00', '2020-01-31 20:25:00+00:00',
       '2020-04-13 21:00:00+00:00', '2019-12-21 14:26:28+00:00',
       '2020-05-18 21:00:00+00:00', '2020-03-02 01:27:00+00:00',
       '2020-01-15 21:00:00+00:00', '2020-03-25 21:00:00+00:00',
       '2020-04-22 21:00:00+00:00', '2020-02-27 08:00:00+00:00',
       '2020-06-11 21:00:00+00:00', '2020-03-10 12:51:10+00:00',
       '2020-08-31 21:04:19+00:00', '2020-01-12 21:00:00+00:00',
       '2020-02-17 11:24:52+00:00', '2020-04-28 08:59:54+00:00',
       '2020-06-09 21:00:00+00:00', '2020-01-30 13:03:16+00:00',
       '2020-02-13 21:00:00+00:00', '2020-03-02 21:00:00+00:00',
       '2020-02-09 21:00:00+00:00', '2020-06-02 21:00:00+00:00',
       '2020-03-19 21:00:00+00:00', '2020-05-05 21:00:00+00:00',
       '2020-01-12 16:51:45+00:00', '2020-03-03 12:28:11+00:00',
       '2020-04-08 21:00:00+00:00', '10/10/2020', '23/05/2020',
       '27/07/2019', '28/01/2020', '29/01/2020', '02/04/2020',
       '11/01/2020', '21/02/2020', '11/03/2020', '13/06/2018',
       '09/01/2020', '21/09/2020', '08/11/2019', '09/06/2020',
       '16/09/2020', '07/01/2020', '15/01/2020', '24/04/2020',
       '24/03/2020', '28/07/2020', '02/03/2020', '12/01/2020',
       '09/05/2020', '12/05/2020', '23/01/2020', '04/05/2020',
       '24/05/2020', '29/07/2020', '28/05/2020', '17/08/2020',
       '05/01/2020', '22/06/2020', '08/02/2020', '06/02/2020',
       '22/05/2020', '21/04/2020', '27/01/2020', '15/02/2020',
       '05/07/2020', '07/09/2020', '01/07/2020', '18/01/2020',
       '13/01/2020', '05/09/2020', '16/03/2020', '11/10/2020',
       '23/02/2020', '30/03/2020', '05/02/2020', '30/04/2020',
       '29/04/2019', '08/01/2020', '28/03/2020', '14/01/2020',
       '13/02/2020', '30/01/2020', '05/05/2020', '22/01/2020',
       '11/06/2018', '2020-01-21 15:25:22+03:00',
       '2020-02-10 17:14:33+03:00', '2020-02-19 06:49:25+03:00',
       '2020-05-22 13:44:07+03:00', '2020-04-05 18:46:03+03:00',
       '2020-02-19 22:20:58+03:00', '2020-02-19 13:18:27+03:00',
       '2020-02-19 06:35:31+03:00', '2020-02-12 07:27:27+03:00',
       '2020-02-05 20:44:46+03:00', '2020-02-03 06:25:25+03:00',
       '2020-01-29 06:58:13+03:00', '2020-01-29 06:49:34+03:00',
       '2020-04-22 02:55:52+03:00', '2020-02-21 21:23:25+03:00',
       'Friday January 10 2020', 'Friday September 04 2020',
       'Friday January 31 2020', 'Saturday February 29 2020',
       'Saturday March 07 2020', 'Wednesday February 19 2020',
       'Wednesday October 28 2020', 'Monday January 27 2020',
       'Friday June 19 2020', 'Thursday March 12 2020',
       'Monday February 17 2020', 'Thursday February 13 2020',
       'Wednesday February 12 2020', 'Tuesday February 11 2020',
       'Monday April 06 2020', 'Tuesday February 18 2020',
       'Thursday February 20 2020', 'Tuesday June 09 2020',
       'Sunday March 15 2020', 'Sunday February 16 2020',
       'Friday February 14 2020', 'Tuesday March 03 2020',
       'Tuesday September 01 2020', 'Wednesday February 05 2020',
       'Wednesday April 01 2020', 'Wednesday February 26 2020',
       'Friday May 22 2020', 'Friday February 21 2020',
       'Sunday February 23 2020', 'Saturday January 25 2020',
       'Tuesday April 28 2020', '2020-08-14 21:30:03+03:00',
       '2020-06-19 10:13:35+03:00', '2020-05-12 09:30:54+03:00',
       '2020-04-13 20:00:02+03:00', '2020-03-02 07:00:42+03:00',
       '2020-02-13 07:30:17+03:00', '2020-01-23 15:10:14+03:00',
       '2020-01-21 16:00:04+03:00', '2020-01-10 16:00:02+03:00',
       '2020-02-12 13:30:32+03:00', '2020-01-25 19:30:24+03:00',
       '2020-10-27 22:20:22+03:00', '2020-08-14 16:30:26+03:00',
       '2020-07-29 20:50:20+03:00', '2020-07-21 13:20:44+03:00',
       '2020-07-13 12:30:59+03:00', '2020-06-08 16:40:39+03:00',
       '2020-05-21 21:29:33+03:00', '2020-04-23 13:50:22+03:00',
       '2020-04-22 09:30:54+03:00', '2020-04-10 17:00:33+03:00',
       '2020-04-07 06:30:53+03:00', '2020-04-05 20:00:26+03:00',
       '2020-04-03 11:15:23+03:00', '2020-03-17 10:30:52+03:00',
       '2020-03-10 07:00:55+03:00', '2020-03-04 06:30:35+03:00',
       '2020-03-02 11:00:10+03:00', '2020-02-28 14:30:24+03:00',
       '2020-02-27 10:00:56+03:00', '2020-02-26 08:00:00+03:00',
       '2020-02-25 23:00:43+03:00', '2020-02-21 13:30:42+03:00',
       '2020-02-20 07:30:20+03:00', '2020-02-17 15:00:37+03:00',
       '2020-02-14 18:30:28+03:00', '2020-02-14 14:00:16+03:00',
       '2020-02-14 07:00:19+03:00', '2020-02-13 13:00:22+03:00',
       '2020-02-13 11:00:37+03:00', '2020-02-13 09:15:03+03:00',
       '2020-02-11 12:00:07+03:00', '2020-02-11 11:00:04+03:00',
       '2020-02-11 09:00:53+03:00', '2020-02-10 15:00:51+03:00',
       '2020-02-10 14:00:05+03:00', '2020-02-10 12:22:28+03:00',
       '2020-02-09 21:52:42+03:00', '2020-02-06 18:00:07+03:00',
       '2020-01-29 11:42:03+03:00', '2020-01-15 13:37:12+03:00',
       '2020-05-19 13:00:58+03:00', '2020-02-07 10:30:15+03:00',
       '2020-02-26 14:00:34+03:00', '2020-02-29 11:00:05+03:00',
       '2020-02-19 12:35:55+03:00', '2020-08-02 22:00:22+03:00',
       '2020-02-24 15:00:46+03:00', '2020-01-23 16:51:12+03:00',
       '2020-02-09 08:16:00+03:00', '2020-01-21 11:40:48+03:00',
       '2020-06-19 15:27:32+03:00', '2020-01-25 07:47:00+03:00',
       '2020-05-23 18:22:38+03:00', '2020-02-10 11:38:22+03:00',
       '2020-04-15 20:55:00+03:00', '2020-02-12 13:22:00+03:00',
       '2020-01-23 11:16:00+03:00', '2020-09-10 21:17:10+03:00',
       '2020-02-09 22:38:00+03:00', '2020-08-13 10:05:59+03:00',
       '2020-01-10 16:30:51+03:00', '2020-02-09 22:57:00+03:00',
       '2020-08-13 12:44:36+03:00', '2020-09-05 14:48:18+03:00',
       '2020-10-13 17:22:47+03:00', '2020-03-10 18:02:00+03:00',
       '2020-01-20 18:51:00+03:00', '2020-02-25 15:12:00+03:00',
       '2020-06-11 13:39:01+03:00', '2020-02-19 08:31:00+03:00',
       '2020-02-10 13:59:00+03:00', '2020-02-13 16:11:00+03:00',
       '2020-02-11 09:01:46+03:00', '2020-02-10 19:52:00+03:00',
       '2020-07-24 18:55:44+03:00', '2020-02-10 07:37:00+03:00',
       '2020-02-24 12:36:27+03:00', '2018-08-31 15:39:00+03:00',
       '2020-08-18 13:33:54+03:00', '2020-02-10 14:18:00+03:00',
       '2020-02-19 18:40:00+03:00', '2020-02-25 18:19:00+03:00',
       '2020-01-14 13:12:47+03:00', '2020-01-03 14:35:57+03:00',
       '2020-03-12 11:09:59+03:00', '2020-06-26 14:17:08+03:00',
       '2020-05-05 07:00:24+03:00', '2020-03-26 16:54:33+03:00',
       '2020-02-24 16:39:58+03:00', '2020-01-23 14:35:38+03:00',
       '2020-01-22 19:30:33+03:00', '2020-01-15 16:05:48+03:00',
       '2020-01-12 14:00:20+03:00', '2020-01-10 17:28:48+03:00',
       '2020-01-09 15:10:09+03:00', '2020-01-09 13:43:41+03:00',
       '2018-06-13 13:21:38+03:00', '2018-06-11 12:32:45+03:00',
       '2020-09-05 15:16:05+03:00', '2020-09-03 15:41:46+03:00',
       '2020-04-10 13:52:07+03:00', '2020-07-24 08:00:45+03:00',
       '2020-02-16 13:31:37+03:00', '2020-01-27 05:26:48+00:00',
       '2020-02-18 19:31:30+00:00', '2019-12-31 13:16:33+00:00',
       '2020-01-29 07:27:14+00:00', '2020-03-11 10:47:00+00:00',
       '2019-12-31 13:17:00+00:00', '2020-01-26 13:26:24+00:00',
       '2020-04-02 11:58:56+00:00', '2020-01-04 14:45:23+00:00',
       '2020-01-23 12:48:56+00:00', '2020-05-22 08:25:43+00:00',
       '2020-01-29 09:10:17+00:00', '2020-02-25 07:15:43+00:00',
       '2020-02-26 09:40:32+00:00', '2020-02-17 13:43:19+00:00',
       '2020-02-05 14:35:50+00:00', '2020-02-21 04:31:01+00:00',
       '2020-09-03 13:26:02+00:00', '2020-01-05 15:14:30+00:00',
       '2020-03-10 09:29:35+00:00', '2020-01-10 11:34:44+00:00',
       '2020-02-19 05:30:00+00:00', '2020-02-15 11:44:50+00:00'],
      dtype=object)

In [13]:
# convert the 'Date' column to datetime format
data['date']= pd.to_datetime(data['date'],utc=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 0 to 23
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          621 non-null    object
 1   news_country  621 non-null    object
 2   news_website  621 non-null    object
 3   text          621 non-null    object
 4   title         621 non-null    object
 5   date          565 non-null    datetime64[ns, UTC]
 6   keywords      577 non-null    object
 7   summary       577 non-null    object
 8   clean_text    621 non-null    object
 9   clean_title   621 non-null    object
dtypes: datetime64[ns, UTC](1), object(9)
memory usage: 53.4+ KB

In [15]:
data['new_date'] = pd.to_datetime(data['date'].dt.strftime('%Y-%m-%d'))

In [16]:
data.head(2)

,link,news_country,news_website,text,title,date,keywords,summary,clean_text,clean_title,new_date
0,https://www.aljazeera.com/videos/2020/04/10/ke...,Qatar,aljazeera,Kenya locust threat: Fears second wave will be...,Kenya locust threat: Fears second wave will be...,2020-10-04 00:00:00+00:00,"['threat', 'resources', 'kenya', 'wave', 'harv...",Kenya locust threat: Fears second wave will be...,kenya locust threat fears second wave worse ha...,kenya locust threat fears second wave worse ha...,2020-10-04
1,https://www.aljazeera.com/news/2020/1/25/east-...,Qatar,aljazeera,Billions of locusts swarming through East Afri...,East Africa locust outbreak sparks calls for i...,2020-01-25 00:00:00+00:00,"['africa', 'outbreak', 'region', 'kenya', 'dro...",Billions of locusts swarming through East Afri...,billions locusts swarming east africa could pr...,east africa locust outbreak sparks calls inter...,2020-01-25

In [17]:
data['DayOfWeek'] = data['new_date'].dt.day_name()

In [18]:
data['month_published'] = data['new_date'].dt.month_name()

In [19]:
data['year_published'] = data['new_date'].dt.year

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 0 to 23
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   link             621 non-null    object
 1   news_country     621 non-null    object
 2   news_website     621 non-null    object
 3   text             621 non-null    object
 4   title            621 non-null    object
 5   date             565 non-null    datetime64[ns, UTC]
 6   keywords         577 non-null    object
 7   summary          577 non-null    object
 8   clean_text       621 non-null    object
 9   clean_title      621 non-null    object
 10  new_date         565 non-null    datetime64[ns]
 11  DayOfWeek        565 non-null    object
 12  month_published  565 non-null    object
 13  year_published   565 non-null    float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), object(11)
memory usage: 72.8+ KB

In [21]:
#Saves the csv file of the clean_data
data.to_csv('clean_data.csv', index=False)